# Shared
NODE_ENV=development

# Backend
PORT=3001
DATABASE_URL=postgresql://username:password@localhost:5432/simrs
AZURE_KEY_VAULT_URL=https://your-key-vault-name.vault.azure.net/
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER=medical-documents
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/api/v1
